$dark-grey: #333;
$light-grey: #4b4b4b;
$white: rgb(255, 255, 255);
$accent-blue: rgb(62, 62, 126);
$soft-red: rgb(255, 99, 99);
$soft-red-accent: rgb(255, 79, 79);
$soft-green: rgb(81, 255, 133);
$soft-green-accent: rgb(149, 255, 172);
$background-color: rgb(109, 109, 109);

$base-color: rgb(51, 51, 51);
$base-alt-color: rgb(68, 68, 68);
$accent-color: white;

$text-color: white;
$text-alt-color: rgb(39, 39, 39);

$font-headings: sans-serif;
$base-font: sans-serif;
$font-color: white;

$font-body: serif;

