@import url(normalize.min.css);
* {
  color: #4b4b4b;
  font-family: serif; }

button {
  font-family: sans-serif; }

body {
  width: 100%; }

p {
  font-family: serif;
  color: #333; }

h1 {
  font-family: sans-serif;
  color: #333; }

h2 {
  font-family: sans-serif;
  color: #333; }

h3 {
  font-family: sans-serif;
  color: #333; }

h4 {
  font-family: sans-serif;
  color: #333; }

.full-width {
  width: 100%; }

* {
  font-family: sans-serif; }

html {
  height: 100%; }

body {
  height: 100%;
  overflow-x: hidden; }

main {
  margin: auto; }

.pushleft {
  margin-left: 1em; }

.pushtop {
  margin-top: 1em; }

router-outlet {
  height: 100%; }

.button {
  border: 1px solid #ccc;
  text-decoration: none;
  box-sizing: border-box;
  display: inline-block;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.2rem;
  padding: 0.4rem 1rem;
  text-align: center;
  border-radius: 10px;
  line-height: 1.4;
  transition: background-color 0.3s ease, box-shadow 0.3s ease; }

.button:hover {
  background-color: #ddd;
  background-image: none;
  cursor: pointer; }

.button:active {
  background-color: #dcdcdc;
  background-image: none;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15); }

.full-width-button {
  width: 100%;
  margin: 0.5rem auto;
  display: block; }

.red-button,
.green-button,
.blue-button {
  color: #fff;
  padding: 0.6rem 1.2rem;
  border-radius: 10px;
  border-width: 1px;
  font-size: 1.4rem;
  transition: background-color 0.3s ease, box-shadow 0.3s ease; }

.red-button {
  background-color: #e74c3c;
  border-color: #e04231;
  box-shadow: none; }

.red-button:hover {
  background-color: #c0392b; }

.red-button:active {
  background-color: #d13123;
  box-shadow: none; }

.green-button {
  background-color: #27ae60;
  border-color: #229954; }

.green-button:hover {
  background-color: #229954; }

.green-button:active {
  background-color: #1e8449;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15); }

.blue-button {
  background-color: #3498db;
  border-color: #2980b9; }

.blue-button:hover {
  background-color: #2980b9; }

.blue-button:active {
  background-color: #1c6ea4;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15); }

.input {
  font-size: larger;
  height: 40px;
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 1em;
  margin-bottom: 1em; }

.textarea {
  height: 5em;
  min-height: 100px; }

.bottom-nav {
  display: flex;
  align-items: center;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 7.5%;
  flex-flow: row nowrap;
  justify-content: space-around;
  background-color: #333333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 999; }

.bottom-nav a {
  color: white;
  text-decoration: none;
  height: 100%;
  width: 100%;
  align-content: center;
  border-right: 1px solid #444444;
  border-left: 1px solid #444444;
  border-radius: 10px; }

header {
  background-color: #333333;
  color: white;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center; }

.header h1 {
  color: white;
  font-size: 1.2em; }

.login-form {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px; }

.toast {
  position: fixed;
  bottom: 30%;
  right: 0;
  transform: translateY(100%);
  opacity: 0;
  transition: opacity 500ms, transform 500ms; }

.toast.visible {
  transform: translateY(0);
  opacity: 1; }

.toast-body {
  margin: 28px;
  padding: 20px 24px;
  background-color: #93e9ff;
  color: #3a3a3a;
  border-radius: 4px; }

@keyframes moveFromRight {
  from {
    transform: translateX(100%); }
  to {
    transform: translateX(0); } }
@keyframes moveToRight {
  from {
    transform: translateX(0); }
  to {
    transform: translateX(100%); } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
.slide-in {
  animation: moveFromRight 0.4s ease both; }

.slide-out {
  animation: moveToRight 0.4s ease both; }

.fade-in {
  animation: fadeIn 0.4s ease both; }

.fade-out {
  animation: fadeOut 0.4s ease both; }

router-outlet {
  display: block;
  width: 100%;
  height: 100%; }

.map {
  height: 92.5vh;
  width: 100%; }

.city-selection {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 116px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  z-index: 1000; }

.city-selection-toggle {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px; }

.city-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none; }

.city-list.show {
  display: block; }

.city-list li {
  padding: 10px;
  cursor: pointer; }

.city-list li:hover {
  background-color: #f0f0f0; }

.padded-main {
  padding: 1em; }

.table {
  box-sizing: border-box;
  display: block;
  overflow-x: auto;
  border-collapse: collapse; }
  .table th {
    text-align: left; }
  .table td {
    border-top: 1px solid #ccc; }
  .table th,
  .table td {
    white-space: nowrap;
    padding: 0.2rem 0.8rem; }
  .table .number-cell {
    text-align: right; }

.table-striped tr:nth-of-type(2n) {
  background-color: #eee; }

/*# sourceMappingURL=style.css.map */
