@use './variables' as var;

html {
    font-size: 100%;
}

a {
    font-family: var.$font;
    color: var.$font-color;
}

button {
    font-family: var.$font;
    color: var.$font-color;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var.$h-font;
    color: var.$font-color;
}

h1 {
    font-size: 2.8em;
    margin-bottom: 3rem;
    text-align: center;
}

p {
    font-family: var.$font;
    color: var.$font-color;
    font-size: 1.25em;
    margin-bottom: 1.75rem;
    font-weight: var.$font-weight;
}

@media (min-width: 64em) {
    html {
        font-size: 112.5%;
    }
}