@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu&display=swap');

$font: "Open Sans", sans-serif;
$h-font: "Ubuntu", sans-serif;
$font-weight: 500;
$font-color: #333;
$background-color: #fff;
$very-light-grey: #ececec;
$light-grey: #cdcdcd;
$darker-grey: #b4b4b4;