@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu&display=swap");
html {
  font-size: 100%;
}

* {
  font-family: "Open Sans", sans-serif;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Ubuntu", sans-serif;
  color: #333;
}

h1 {
  font-size: 2.8em;
  margin-bottom: 3.5rem;
}

p {
  font-size: 1.25em;
  margin-bottom: 1.75rem;
  font-weight: 1em;
}

@media (min-width: 64em) {
  html {
    font-size: 112.5%;
  }
}
.map {
  height: 50vh;
  width: 100%;
}

.navbar {
  position: fixed;
  top: 0;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  background-color: whitesmoke;
}
